// VENDOR SASS
@import 'node_modules/compass-mixins/lib/compass';
// @import 'node_modules/breakpoint-sass/stylesheets/breakpoint';

@import "./src/assets/css/utilities/__utilities_base.scss";
@import './src/assets/css/colors';

// BREAKPOINTS
$XLargeScreen: 1200px;
$LargeScreen:  1024px;
$MidScreen:    768px;
$MidScreenSm:  700px;
$SmallScreen:  480px;
$XSmallScreen: 320px;

// FONTS
$base-font-size   :0.85em;
$base-line-height :1.7em;
$font             :"Helvetica Neue", Arial, sans-serif;
$font-head        :"VeneerTwo", Helvetica, Arial, sans-serif;
$font-subhead     :"Veneer", Helvetica, Arial, sans-serif;
$font-copy        :"AmericanTypewriterStd-Med", Helvetica, Arial, sans-serif;

// ############################

html, html a {
  -webkit-font-smoothing: antialiased;
  // Adjust font size
  -webkit-text-size-adjust: 100%;
  // Font varient
  // font-variant-ligatures: none;
  // -webkit-font-variant-ligatures: none;
  // Smoothing
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  // text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
  font-size: 1rem;
}

a {
  @include link-colors(
    $normal:  $blue-dark,
    $visited: $blue-dark,
    $hover:   $accent);
}


