.about {
  width: span(92.7%);
  margin: 0 0 .75em 0em;
  // margin: .3em 0 1em 0;
  float: left;
  background-image: url("~assets/img/bg/bg_bag_y.png");
  background-repeat: repeat;
  padding: 0.6em .5em 0.5em .75em;
  @include shadow;
  @include clearfix;

  @include breakpoint($sm) {
    width: span(88.2%);
  }

  @include breakpoint($md) {
    // width: 93%;
  }

  .flag {
    width: 20%;
    height: 57px;
    margin: .5em 1em 1em 0em;
    float: left;
    clear: left;
    // width: span(1);
    // margin-left: span(1 wide);
    background: url("~assets/img/british_american_flag.png");
    background-repeat: none;
  }

  // .british_american_flag img {
  //   width: 100%;
  //   height: auto;
  // }

  .copy {
    font-size: .85em;
    // width: span(10);
    // margin-left: span(3 wide);
  }

  .copy p {
    margin: 0 0 0 1em;
  }

}
