// #######################
// #######################
// QUOTE & BLOCKQUOTE
.quote {
  margin: 0 0 .75em 0em;
  // float: left;
  // clear: both;
  // display: block;
  height: 100px;
  margin: 0;
  // @include clearfix;
  overflow: hidden;

  blockquote {
    background: darkred;
    margin: 0;
    padding: .25em 1em .75em 1em;
    @include clearfix;
    @include shadow;

    p {
      color: $ivory;
      padding: .75em .5em 0em .5em;
      text-align: center;
      letter-spacing: .08em;
      font-size: .7em;
    }

    cite {
      color: $ivory;
      font-style: italic;
      margin: 0 4em 0 0;
      display: block;
      text-align: right;
      font-size: .7em;
      letter-spacing: .08em;
    }
  }
}

//  <<<<<<<<
