.skills {
  // margin: 1em 0 0;
  // padding: 0;
  // text-align: center;
  // display: block;
  // clear: left;
  @include clearfix;

  .col1,
  .col2,
  .col3,
  .col4 {
    width: percentage(1 / 4);
    display: inline-block;
  }

  .icon {
    display: block;
    clear: left;
    // margin: 0em auto 1em;
    padding: 0;
    text-align: center;
    // width: 88px;
    // height: 60px;
    width: 100px;
    height: 70px;
    background-size: 100px 70px;
    margin-bottom: 1em !important;
    @include clearfix;

    @media (max-width: 500px) {
      width: 50px;
      height: 20px;
      background-size: 50px 20px;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }

    &.uiux {
      background: url("~assets/img/icons/uiux.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.terminal {
      background: url("~assets/img/icons/terminal.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.yo {
      background: url("~assets/img/icons/yeoman.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.html5 {
      background: url("~assets/img/icons/html5.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.sublime_text {
      background: url("~assets/img/icons/sublime.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.javascript {
      background: url("~assets/img/icons/javascript.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.css3 {
      background: url("~assets/img/icons/css.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.sass {
      background: url("~assets/img/icons/sass.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.axure {
      background: url("~assets/img/icons/axure.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.cs {
      background: url("~assets/img/icons/cs.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.compass {
      background: url("~assets/img/icons/compass.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.ruby {
      background: url("~assets/img/icons/ruby.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.meteor {
      background: url("~assets/img/icons/meteor.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.react {
      background: url("~assets/img/icons/react.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.angular {
      background: url("~assets/img/icons/angular.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.svg {
      background: url("~assets/img/icons/svg.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.cs_icons {
      background: url("~assets/img/icons/cs_icons.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.sketch {
      background: url("~assets/img/icons/sketch.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.vue {
      background: url("~assets/img/icons/vue.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.npm {
      background: url("~assets/img/icons/npm.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.webpack {
      background: url("~assets/img/icons/webpack.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

  }
}

