// REMs
//
// m = margin
// p = padding
//
// T = top
// B = bottom
// L = Left
// R = Right
//
// $mpVal = mpVal

$mpVal: null;

/*
MARGIN AUTOS
------------------------------------------------*/
.mLAuto   { margin-left: auto !important; }
.mRAuto   { margin-right: auto !important; }
.mLRAuto  { margin-left: auto !important; margin-right: auto !important; }
/*************************************************************************************/
/*************************************************************************************/
/*
PAD TO #{$mpVal}rem
------------------------------------------------*/
.p#{$mpVal}       { padding: #{$mpVal}rem !important; }
.pL#{$mpVal}      { padding-left: #{$mpVal}rem !important; }
.pR#{$mpVal}      { padding-right: #{$mpVal}rem !important; }
.pT#{$mpVal}      { padding-top: #{$mpVal}rem !important; }
.pB#{$mpVal}      { padding-bottom: #{$mpVal}rem !important; }
.pLR#{$mpVal}     { padding-left: #{$mpVal}rem !important; padding-right: #{$mpVal}rem !important; }
.pTB#{$mpVal}     { padding-top: #{$mpVal}rem !important; padding-bottom: #{$mpVal}rem !important; }

/*************************************************************************************/
/*************************************************************************************/
/*
MARGIN0 TO #{$mpVal}rem
------------------------------------------------*/
.m#{$mpVal}       { margin: #{$mpVal}rem !important; }
.mL#{$mpVal}      { margin-left: #{$mpVal}rem !important; }
.mR#{$mpVal}      { margin-right: #{$mpVal}rem !important; }
.mT#{$mpVal}      { margin-top: #{$mpVal}rem !important; }
.mB#{$mpVal}      { margin-bottom: #{$mpVal}rem !important; }
.mLR#{$mpVal}     { margin-left: #{$mpVal}rem !important; margin-right: #{$mpVal}rem; }
.mTB#{$mpVal}     { margin-top: #{$mpVal}rem; margin-bottom: #{$mpVal}rem; }
/*************************************************************************************/
/*************************************************************************************/
/*
PAD BALANCED BY #{$mpVal}rem
------------------------------------------------*/
.pBal#{$mpVal}    { padding: #{$mpVal}rem !important; }
.pLRBal#{$mpVal}  { padding-left: #{$mpVal}rem !important; padding-right: #{$mpVal}rem !important; }
.pTBBal#{$mpVal}  { padding-top: #{$mpVal}rem !important; padding-bottom: #{$mpVal}rem !important; }
/**/
/*************************************************************************************/
/*
MARGIN BALANCED #{$mpVal}rem
------------------------------------------------*/
.mLRBal#{$mpVal}  { margin-left: #{$mpVal}rem !important; margin-right: #{$mpVal}rem !important; }
.mTBBal#{$mpVal}  { margin-top: #{$mpVal}rem !important; margin-bottom: #{$mpVal}rem !important; }


